{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="container">
   <h2>Player Registration</h2>

     <form action="/" method="post">
     {% csrf_token %}
     <p>
       <label for="id_first_name">First name:</label>
       <input id="id_first_name" type="text" name="first_name"/>
     </p><p>
       <label for="id_last_name">Last name:</label>
       <input id="id_last_name" type="text" name="last_name"/>
     </p><p>
       <label for="id_username">Username:</label>
       <input id="id_username" type="text" name="username"/>
     </p><p>
       <label for="id_password">Password:</label>
       <input id="id_password" type="password" name="password"/>
     </p>
     <p>
       <label for="id_password_again">Password again:</label>
       <input id="id_password_again" type="password" name="password"/>
     </p>
     <p>
       <label for="id_email">Email:</label>
       <input id="id_email" type="email" name="email"/>
     </p>
     <!--<p>
       <label for="id_user_type">User type:</label>
       <input id="id_user_type" type="radio" name="user_type" value="player">Player<br>
       <input id="id_user_type" type="radio" name="user_type" value="developer">Developer<br>
       <input id="id_user_type" type="radio" name="user_type" value="admin">Admin<br>
     </p>-->

     <!--<p>
       <label for="id_user_type">User type:</label>
       <select name="user_type">
         <option value="player">Player</option>
         <option value="developer">Developer</option>
         <option value="admin">Admin</option>
       </select>
     </p>-->

     <!--{{form.as_p}} -->
     <input type="submit" value="Register" />

</div>
{% endblock %}
