{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
    {% block header %}
    {% endblock %}
  </head>
  <body>
    {% include "nav.html" %}

    <div class="jumbotron">
      <div class='container'>
        <h1>{{ page_title }}</h1>
        <p>{{ page_subtitle }}</p>
      </div>
    </div>

    {% block content %}
    <div class="starter-template">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
    {% endblock %}

    {% include "footer.html" %}

    
    {% block footer_script %}
    {% endblock %}
  </body>
</html>
