{% extends "base.html" %}
{% block title %}Browse games{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  {% if games %}
    <div id="products" class="row">
      {% for game in games %}
        <div class="item col-xs-12 col-sm-4 col-lg-4">
          <div class="thumbnail">
            <img class="group list-group-image" src="{{ game.banner_url }}" alt="no image" />
            <div class="caption">
              <h4 class="group inner list-group-item-heading"><a href="{{BASE_URL}}/game/{{ game.slug }}">{{ game.title }}</a></h4>
              {# <p class="group inner list-group-item-text">{{game.desc|truncatechars:100}}</p>#}
              {% if not game.bought %}
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <p class="lead">€ {{ game.price }}</p>
                  </div>
                  <div class="col-xs-12 col-sm-6 text-right">
                    {% include "buy_form.html" with next_purchase_id=next_purchase_id checksum=game.checksum %}
                  </div>
                </div>
              {% else %}
                <div class="row">
                  <div class="col-xs-12 col-sm-6"></div>
                  <div class="col-xs-12 col-sm-6 text-right">
                    <a class="btn btn-success" href="{{BASE_URL}}/game/{{ game.slug }}">Play</a>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% include "games_pagination.html" %}
  {% else %}
    <div class="well well-lg">Too bad we have no {{page_title}} yet </div>
  {% endif %}
</div>


{% endblock %}
