{% extends "base_without_jumbotron.html" %} {% block title %}{{ game.title }}{% endblock %} {% block content %}


<div class="container">
  {% if game_bought %}
    <div class="row">
        <div class="col-md-12">
            <iframe id="gameframe" width="100%" height="100%" src="{{ game.url }}" data-gameid="{{game.id}}"></iframe>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-10">
            <h1>{{ game.title }}</h1>
        </div>
        <div class="col-md-2">
            <div id="socialHolder" class="col-md-12">
                <div id="socialShare" class="btn-group share-group">
                    <a data-toggle="dropdown" class="btn btn-info">
                        <i class="fa fa-share-alt fa-inverse"></i>
                    </a>
                    <button href="#" data-toggle="dropdown" class="btn btn-info dropdown-toggle share">
            					<span class="caret"></span>
            				</button>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-original-title="Twitter" rel="tooltip" href="#" class="btn btn-twitter" data-placement="left">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a data-original-title="Facebook" rel="tooltip" href="#" class="btn btn-facebook" data-placement="left">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a data-original-title="Google+" rel="tooltip" href="#" class="btn btn-google" data-placement="left">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a data-original-title="LinkedIn" rel="tooltip" href="#" class="btn btn-linkedin" data-placement="left">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>{{ game.desc }}</p>
            {% if user.is_authenticated %}
            <h2>Instruction</h2>
            <p>{{ game.instruction }}</p>
            {% endif %}
        </div>
        {% if not game_bought %}
        <div class="col-md-4 text-right">
          {# {% if not user.is_authenticated %}#}
            <h3>€ {{ game.price }}</h3>

            <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
                <input type="hidden" name="pid" value="{{next_purchase_id}}" />
                <input type="hidden" name="sid" value="GameMartInc" />
                <input type="hidden" name="success_url"
                        value="{{BASE_URL}}/payment/success/on/{{game.slug}}" />
                <input type="hidden" name="cancel_url"
                        value="{{BASE_URL}}/payment/canceled/on/{{game.slug}}" />
                <input type="hidden" name="error_url"
                        value="{{BASE_URL}}/payment/error/on/{{game.slug}}" />
                <input type="hidden" name="checksum"
                        value="{{checksum}}" />
                <input type="hidden" id="id_amount" name="amount" value="{{ game.price }}" />
                <!-- <input type="submit" value="Accept Payment"/> -->
                <input class="btn btn-primary" type="submit" value="Buy">
            </form>

          {% endif %}
        </div>
    </div>
</div>



{% endblock %}
