{% extends "base_without_jumbotron.html" %}
{% block title %}{{ game.title }}{% endblock %}
{% block head_meta %}
<meta property="og:url"           content="{% url 'game' game.slug %}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{ game.title }}" />
<meta property="og:description"   content="{{ game.desc }}" />
<meta property="og:image"         content="{{ game_banner_url }}" />
{% endblock %}
{% block content %}

<div class="container">
  {% if game_bought %}
    <div class="row">
      <div class="col-md-12">
        <iframe id="gameframe" width="100%" height="100%" src="{{ game.url }}" data-gameid="{{game.id}}"></iframe>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-md-10">
      <h1>{{ game.title }}</h1>
    </div>
    <div class="col-md-2">

    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% if game_banner_url != 'none' %}
        <img class="game-banner image-responsive" src="{{ game_banner_url }}" alt="{{ game.title }}" />
      {% endif %}
      <p>{{ game.desc }}</p>
      {% if userIsLoggedIn %}
        <h2>Instruction</h2>
        <p>{{ game.instruction }}</p>
      {% endif %}
    </div>
    <div class="col-md-4 ">
      <div class="row">
        <div class="col-md-6 pricetag"><h3>€ {{ game.price }}</h3></div>
        <div class="col-md-6 text-right">{% include "buy_form.html" %}</div>
      </div>
      <hr />
      <div class="list-group">
        <a href="#" class="list-group-item visitor">
            <h3 class="pull-right">
                <i class="fa fa-gamepad"></i>
            </h3>
            <h4 class="list-group-item-heading count">
                {{ play_count }}</h4>
            <p class="list-group-item-text">
                Times played</p>
        </a>
        <a href="#" class="list-group-item google-plus">
            <h3 class="pull-right">
                <i class="fa fa-users"></i>
            </h3>
            <h4 class="list-group-item-heading count">
                {{ purchase_count }}</h4>
            <p class="list-group-item-text">
                Subscribers</p>
        </a>
      </div>
      {% if highscore|length > 0 %}
        <hr/>
        <h4>Highscore</h4>
        <table class="table">
          <tr>
            <th>Username</th>
            <th>Score</th>
          </tr>
          {% for key, score in highscore %}
            <tr>
              <td>{{key}}</td>
              <td>{{score}}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
      <hr />
      <div class="fb-like"
        data-href="{{ BASE_URL}}{% url 'game' game.slug %}"
        data-width="290"
        data-layout="standard"
        data-action="like"
        data-show-faces="false">
      </div>
      <br/><br/>
      <a class="twitter-share-button" href="{{ BASE_URL}}{% url 'game' game.slug %}">Tweet</a>
    </div>
  </div>
</div>



{% endblock %}
