<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    <ul class="pagination pull-right">
      {% if games.has_previous %}
        <li><a href="?page={{ games.previous_page_number }}&{{search}}">&laquo; previous</a></li>
      {% endif %}
      <li class="disabled"><a href="#">Page {{ games.number }} of {{ games.paginator.num_pages }}</a></li>
      {% if games.has_next %}
        <li><a href="?page={{ games.next_page_number }}&{{search}}">next &raquo;</a></li>
      {% endif %}
    </ul>
  </div>
</div>
