{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
    <form action="/register/" method="post">
     {% csrf_token %}
     <p class="form-group">
       <label for="id_first_name">First name:</label>
       <input class="form-control" id="id_first_name" type="text" name="first_name"/>
     </p>
     <p class="form-group">
       <label for="id_last_name">Last name:</label>
       <input class="form-control" id="id_last_name" type="text" name="last_name"/>
     </p>
     <p class="form-group">
       <label for="id_username">Username:</label>
       <input class="form-control" id="id_username" type="text" name="username"/>
     </p>
     <p class="form-group">
       <label for="id_password">Password:</label>
       <input class="form-control" id="id_password" type="password" name="password" required=""/>
     </p>
     <p class="form-group">
       <label for="id_email">Email:</label>
       <input class="form-control" id="id_email" type="email" name="email" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"/>
     </p>
     <p class="form-group">
       <label for="id_user_type">Type:</label>
       <input class="form-control" id="id_user_type" type="text" name="user_type" value="player"/>
     </p>

     <!--
     <input class="form-control" id="id_slug" type="hidden" name="slug" value="keijo"/>
   -->

     <input class="form-control btn btn-primary" type="submit" value="Register" />
    </form>
    </div>
  </div>
</div>
{% endblock %}
